{% extends 'customer/base.html' %}

{% block content %}
    <div class="container background-div text-color-about rounded" style="margin-top: 8em;">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12  text-center">
                <h1>About Us</h1>

            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-md-10 col-sm-12 p-4 text-center" >
                <p>Welcome to Rosies Puds, a small family-run cake company that's been making delicious cakes for over 20 years. Founded by Rosie herself, our company is built on a passion for baking, a commitment to using high-quality, natural ingredients, and a desire to spread joy through our cakes.</p>
                <h2>Mission Statement</h2>
                   <p>At Rosies Puds, our mission is to create delicious, handcrafted cakes that bring joy to people's lives. We believe that the best cakes are made with the best ingredients, which is why we use only high-quality, natural ingredients in all our cakes. We also believe in the power of small businesses to make a positive impact on the world, which is why we're committed to supporting local farmers and suppliers and donating a portion of our profits to charitable causes.</p>
                <p>Company History
                    Rosies Puds was founded in 2001 in a small kitchen in the suburbs of London. Rosie, a lifelong baker, decided to turn her passion for cakes into a business, and began selling her creations at local markets and fairs. Over time, her cakes became more and more popular, and she eventually opened her first bakery in central London.</p>
                <p>Inspiration behind the Company Name
                    The name "Rosies Puds" was inspired by Rosie's childhood nickname. As a little girl, she loved making puddings for her family and friends, and her creations were always a hit. When she started her own cake company, she knew she wanted to honor that childhood nickname and chose the name "Rosies Puds" for her business.</p>
            </div>
        </div>
    </div>
{% endblock content %}