{% extends 'customer/base.html' %}

{% block content %}
    <div class="container mb-5" id="front-page">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8 col-sm-12  p-4 text-center">
                

            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="card col-md-5 col-sm-12  p-4 text-center bg-card" >
                <h1 class="text-color">Welcome to <i class="fa-solid fa-cupcake">Rosie's puds!</i></h1>
                <br>
                <h2 class="text-color">Place your order here</h2>
                <a href="{% url 'order' %}" class="btn btn-outline-primary text-color">Order Now!</a>
            </div>
        </div>
    </div>
{% endblock content %}